﻿@{
    ViewData["Title"] = "Home Page";
}

<body onload="getListNames();">
    <header id="header" class="header container-fluid">
        <h2>Contact List</h2>
    </header>
    <section id="details" class="container-fluid">
        <div class="row">
            <div class="panel col-xs-4">
                <ul class="list-group" id="ids"></ul>
                <ul class="list-group" id="names"></ul>
            </div>
            
            <div id="panel2" class="panel col-xs-4">
                
            </div>
        </div>
    </section>
</body>
